/* wordpress admin tool bar trouble */

.navbar-brand {
    margin-left: 2%;
}

header {
    padding-bottom: 5%;
}

#content{
    margin-left: 5%;
    margin-right: 5%;
}

@media (min-width: 500px) {
    #card-colums-art {
        column-count: 2;
   }
}
@media (min-width: 800px) {
    #card-colums-art {
        column-count: 3;
   }
}
@media (min-width: 1000px) {
    #card-colums-art {
        column-count: 4;
   }
}
@media (min-width: 1200px) {
    #card-colums-art {
        column-count: 5;
   }
}

#content-card {
    margin-bottom: 5px;
    margin-top: 0.1%;
}

#cards-with-art {
    margin-bottom: 0.1%;
    margin-top: 0.1%;
    margin-left: 5%;
    margin-right: 5%;
    
}