/* wordpress admin tool bar trouble */

.navbar-brand {
    margin-left: 2%;
}

#headerNavBar {
    padding-bottom: 80px;
}

#content{
    margin-left: 5%;
    margin-right: 5%;
}

@media (min-width: 500px) {
    #card-colums-art {
        column-count: 2;
   }
}
@media (min-width: 800px) {
    #card-colums-art {
        column-count: 3;
   }
}
@media (min-width: 1000px) {
    #card-colums-art {
        column-count: 4;
   }
}
@media (min-width: 1200px) {
    #card-colums-art {
        column-count: 5;
   }
}

#content-card {
    margin-bottom: 5px;
    margin-top: 0.1%;
}

#cards-with-art {
    margin-bottom: 0.1%;
    margin-top: 0.1%;
    margin-left: 5%;
    margin-right: 5%;
    
}


/* landing */

.section-head{
    margin-bottom: 3%;
}


/* first section */
#first-section-landing{ 
    background-image: url('../landing_img/background_landing.jpg'); 
    background-size: cover;
    height: 100vh;
    /* width: 100vw; */
    z-index: 1;
    
}
#first-section-landing:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.65;
    z-index: 2;
}

#first-section-landing-content{
    position: relative; 
    color: white;  
    padding-top: 25vh;
    z-index: 3;
    /* height:auto */
}

/* second section */
#second-section-landing{
    margin-top: 5%;
    margin-bottom: 5%;
}

.second-section-landing-item{
    margin-bottom: 2%;
}

.hidden-text{
    display: none;
}

/* third section*/
#third-section-landing{
    margin-top: 5%;
    margin-bottom: 5%;

}